.tile__row{width:100%}
.tile--borderless{border:none!important}
.tile--border{border:1px solid #E6E6E6}
.tile__row--blue{background:#85cba8;color:#fff}

.accordion,.accordion__item:last-of-type{border-bottom:1px #CAC8C8 solid}
.accordion__item,.accordion__row{border-top:1px #CAC8C8 solid;border-left:1px #CAC8C8 solid;border-right:1px #CAC8C8 solid}
@media (min-width:1000px){
    .marketing-block-card{-ms-flex:1;flex:1;margin:0 15px 30px}
}
    .marketing-block-card__description{width:100%;padding:20px;text-align:center}
    .marketing-block-card__view-more{
        display:-ms-flexbox;
        display:flex;
        -ms-flex:1;flex:1;-ms-flex-align:end;
        align-items:flex-end;
        -ms-flex-pack:center;
        justify-content:center;
        text-align:center;
        padding:15px 0;
        margin-top:20px;
        font-size:18px;
        height:75px;
        font-weight:400!important;color:#999
    }
    .marketing-block-card__view-more:hover{
        color:#222;cursor:pointer
    }
    .accordion__header,.accordion__item {
        color:#6D6E70;font-weight:600;width:100%
    }
    .accordion{width:100%;margin:40px 0}
    .accordion dl{margin:0}
    .accordion__item{background:#E6E6E6;font-size:16px;padding:15px 20px;cursor:pointer}
    .accordion__header{transition:all .3s ease}
    .accordion__header:hover{cursor:pointer;font-weight:600;color:#222}
    .accordion__header .icon-down-arrow{float:right;font-size:20px;font-weight:600}
    .accordion__body{margin:0;height:0;opacity:0;display:none}
    .accordion__body:hover{color:#fff}
    .accordion__row{width:100%;display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row}
    .marketing-nojs .accordion__expandall,.marketing-nojs .accordion__header i, .marketing-nojs .plans-card__expand{display:none}
@media (min-width:1000px){
    .accordion__row{-ms-flex:none;flex:none}
}
.accordion__row .icon-info{color:#CAC8C8;position:relative;top:2px;left:2px}
.accordion__row .icon-info:hover{cursor:pointer}
.accordion__row .tooltip{margin-top:10px;border:none}
.accordion__column,.accordion__column__title{margin:0;font-size:14px;word-wrap:break-word;height:100%}
.accordion__column__title{-ms-flex-preferred-size:16%;flex-basis:16%;max-width:16%;border-left:1px #CAC8C8 solid;color:#6D6E70;padding:10px;line-height:20px;font-weight:300}
.accordion__column__title:first-of-type{border:none}
@media (min-width:1000px){
    .accordion__column__title{padding:0 15px;-ms-flex-preferred-size:33.5%;flex-basis:33.5%;max-width:33.5%}
}
.accordion__column{position:relative;-ms-flex-preferred-size:21%;flex-basis:21%;max-width:21%;border-left:1px #CAC8C8 solid;text-align:center;font-weight:700;padding:10px 20px;color:#CAC8C8}
@media (min-width:1000px){.accordion__column{word-wrap:normal;padding:10px 20px;-ms-flex-preferred-size:16.5%;flex-basis:16.5%;max-width:16.5%;float:left}}
.accordion__column--list{padding-right:0}
.accordion__column>ul{padding:0 0 0 7px;text-align:left;margin-top:0}
.accordion__check-icon{font-size:20px}
.accordion__check-icon:before{font-family:cloudflare-icons;content:"\e02c"}
.marketing-benefit,.plans-card__heading,.plans-card__price-area__amount,.plans-card__price-area__currency,.plans-card__price-area__slash,.plans-card__price-area__term{font-family:"Open Sans",sans-serif}
@media (min-width:1000px){.accordion__check-icon{font-size:16px;padding-top:15px}
}
.accordion__expandall{width:100%;text-align:right;font-size:12px;color:#6D6E70;padding-right:25px}
.accordion__expandall .icon-double-down-arrow{font-size:13px;margin-left:10px;color:#6D6E70}.accordion__expandall:hover{cursor:pointer}
.accordion-subheading{font-weight:700;font-size:14px;line-height:inherit;max-width:100%;-ms-flex-preferred-size:100%;flex-basis:100%}

@font-face{
    font-family:'Roboto Slab';
    src:
            url(../fonts/roboto-slab/robotoslab-light-webfont.woff2) format("woff2"),
            url(../fonts/roboto-slab/robotoslab-light-webfont.woff) format("woff");
    font-weight:300;
    font-style:normal
}
@font-face{
    font-family:'Open Sans';
    src:
            url(../fonts/open-sans/opensans-light-webfont.woff2) format("woff2"),
            url(../fonts/open-sans/opensans-light-webfont.woff) format("woff");
    font-weight:300;
    font-style:normal
}
@font-face{
    font-family:'Open Sans';
    src:
            url(../fonts/open-sans/opensans-regular-webfont.woff2) format("woff2"),
            url(../fonts/open-sans/opensans-regular-webfont.woff) format("woff");
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:'Open Sans';
    src:
            url(../fonts/open-sans/opensans-semibold-webfont.woff2) format("woff2"),
            url(../fonts/open-sans/opensans-semibold-webfont.woff) format("woff");
    font-weight:600;
    font-style:normal
}
@font-face{
    font-family:'Open Sans';
    src:
            url(../fonts/open-sans/opensans-bold-webfont.woff2) format("woff2"),
            url(../fonts/open-sans/opensans-bold-webfont.woff) format("woff");
    font-weight:700;
    font-style:normal
}
@font-face{font-family:'Open Sans';
    src:
            url(../fonts/open-sans/opensans-extrabold-webfont.woff2) format("woff2"),
            url(../fonts/open-sans/opensans-extrabold-webfont.woff) format("woff");
    font-weight:800;
    font-style:normal
}
@font-face{
    font-family:cloudflare-icons;
    src:
            url(../fonts/cloudflare.eot);
    src:
            url(../fonts/cloudflare.eot?#iefix) format("embedded-opentype"),
            url(../fonts/cloudflare.woff) format("woff"),
            url(../fonts/cloudflare.ttf) format("truetype")
            ,url(../fonts/cloudflare.svg#cloudflare) format("svg");
    font-weight:400;
    font-style:normal
}
[data-icon]:before{content:attr(data-icon)}

.icon-down-arrow:before{content:"\e002"}
.icon-close-outline:before{content:"\e011"}
.icon-info:before{content:"\e017"}


.color-free{color:#85cba8!important}
.color-pro{color:#f16975!important}
.color-business{color:#8176b5!important}
.color-enterprise{color:#408bc9!important}
.iconUp{transform:rotate(180deg)!important}
.iconDown{transform:rotate(0)!important}
.text--uppercase{text-transform:uppercase}
.icon-info{color:#CAC8C8;position:relative;top:2px;left:2px}
.accordion__row .icon-info:hover{cursor:pointer}
.accordion__expandall .icon-double-down-arrow:before,.button--text--under-attack i:before,.icon--inline,.input--border,.table-light td,.table-light th,.top-nav__top-row--under-attack i:before{vertical-align:middle}
.accordion__item,.button--free,.button--uppercase,.button--uppercase:active,.button--uppercase:visited,.button--uppercase:visited:active,.plans-card__cta,.text--subheading-bold,.text--uppercase{text-transform:uppercase}

.plan-detail-partial-section__accordion{width:100%}.plan-detail-partial-section .plan-detail-partial-section__container .plan-detail-partial-section__container__body .plan-detail-partial-section__accordion dt{width:100%;background:#E6E6E6;font-size:12px;color:#222;padding:15px 20px;border-top:1px #C8CACB solid;border-left:1px #C8CACB solid;border-right:1px #C8CACB solid}.plan-detail-partial-section .plan-detail-partial-section__container .plan-detail-partial-section__container__body .plan-detail-partial-section__accordion dt:last-of-type{border-bottom:1px #C8CACB solid}.plan-detail-partial-section .plan-detail-partial-section__container .plan-detail-partial-section__container__body .plan-detail-partial-section__accordion dt a{width:100%;color:#6D6E70;font-weight:600}.plan-detail-partial-section .plan-detail-partial-section__container .plan-detail-partial-section__container__body .plan-detail-partial-section__accordion dt a .icon-down-arrow{float:right;font-size:20px;font-weight:600}.plan-detail-partial-section .plan-detail-partial-section__container .plan-detail-partial-section__container__body .plan-detail-partial-section__accordion .plan-detail-partial-section__accordion__title__body{margin:0}.plan-detail-partial-section .plan-detail-partial-section__container .plan-detail-partial-section__container__body .plan-detail-partial-section__accordion .plan-detail-partial-section__accordion__body{background:#fff}.plan-detail-partial-section .plan-detail-partial-section__container .plan-detail-partial-section__container__body .plan-detail-partial-section__accordion .plan-detail-partial-section__accordion__body .plan-detail-partial-section__accordion__body__row{display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;-ms-flex-pack:left;justify-content:left;width:100%;border-top:1px #C8CACB solid;border-left:1px #C8CACB solid;border-right:1px #C8CACB solid}.plan-detail-partial-section .plan-detail-partial-section__container .plan-detail-partial-section__container__body .plan-detail-partial-section__accordion .plan-detail-partial-section__accordion__body .plan-detail-partial-section__accordion__body__row .plan-detail-partial-section__accordion__body__row__column-title{-ms-flex-preferred-size:31%;flex-basis:31%;max-width:35%;border-left:1px #C8CACB solid;color:#6D6E70;padding:10px 20px;font-size:14px;font-weight:300}.plan-detail-partial-section .plan-detail-partial-section__container .plan-detail-partial-section__container__body .plan-detail-partial-section__accordion .plan-detail-partial-section__accordion__body .plan-detail-partial-section__accordion__body__row .plan-detail-partial-section__accordion__body__row__column-title:first-of-type{border:none}.plan-detail-partial-section .plan-detail-partial-section__container .plan-detail-partial-section__container__body .plan-detail-partial-section__accordion .plan-detail-partial-section__accordion__body .plan-detail-partial-section__accordion__body__row .plan-detail-partial-section__accordion__body__row__column{-ms-flex-preferred-size:21%;flex-basis:21%;max-width:21%;border-left:1px #C8CACB solid;text-align:center;font-weight:700;font-size:14px;padding-top:10px;color:#8EB71C}.plan-detail-partial-section .plan-detail-partial-section__container .plan-detail-partial-section__container__body .plan-detail-partial-section__accordion .plan-detail-partial-section__accordion__body .plan-detail-partial-section__accordion__body__row .plan-detail-partial-section__accordion__body__row__column:last-of-type{border-right:none}.pricing-detail-section{position:relative;padding:0;width:100%;height:auto}@media (min-width:1000px){.pricing-detail-section{display:none}}
.marketing-nojs .accordion__expandall,.marketing-nojs .accordion__header i,.marketing-nojs .plans-card__expand{display:none}.marketing-nojs .accordion__body,.marketing-nojs .plans-card__mobile-collapse{display:block;opacity:1;height:auto}

















